.verticalLine {
  border-left: solid gray;
  border-width: thin;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

section {
  float: left;
  width: 10%;
}
aside {
  float: right;
  width: 90%;
}
img {
   
    width: 150px;
    float: right;
    transform: rotate(-5deg); 
    position: absolute;
    top: 2%;
    right: 5%;
}
